@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SalesAssister.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
@using (Html.BeginForm())
{
    <div class="form-group">
        <div>
            @Html.LabelFor(m => m.Email)
        </div>
        <div>
            @Html.TextBoxFor(m => m.Email)
        </div>
    </div>
    
    <div class="form-group">
        <div>
            @Html.LabelFor(m => m.Password)
        </div>
        <div>
            @Html.PasswordFor(m => m.Password)
        </div>   
    </div>
    
    <input type="submit" value="Log in" class="btn btn-success" />
}

<p>@Html.ActionLink("HOME", "Index", "Home")</p>
