@{
    ViewData["Title"] = "Sales Assister";
}

@*@model SalesAssister.Models.Client*@

<h3 class="salesPeople">ADD NEW CLIENT</h3> 
<button class="btn btn-xs btn-warning" onclick="myFunction()">Hide Form</button>

<br />
@using (Html.BeginForm("newClient", "Clients"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>Client Name</div>
    <p>
        @Html.TextBox("Name")
    </p>

    <div>Client Email</div>
    <p>
        @Html.TextBox("Email")
    </p>

    <div>Client Phone</div>
    <p>
        @Html.TextBox("Phone")
    </p>

    <input type="submit" value="ADD" class="btn btn-warning" />
}
<br />

