@{
    ViewData["Title"] = "Sales Assister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SalesAssister.Models.Client

<h3 class="salesPeople">EDIT @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Email)
    @Html.EditorFor(model => model.Email)

    @Html.LabelFor(model => model.Phone)
    @Html.EditorFor(model => model.Phone)

    @Html.LabelFor(model => model.SalesPersonId)
    @Html.DropDownList("SalesPersonId") 

    <input type="submit" value="Save" class="btn btn-info" />
}
