@{
    ViewData["Title"] = "Sales Assister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model IEnumerable<SalesAssister.Models.Client>

<h3 class="salesPeople">@User.GetUserName()'s Clients </h3>

<br>

<table class="table">
    <tr>
        <th>
            <p class="glyphicon glyphicon-user"> NAME</p>
        </th>
        <th>
            <p class="glyphicon glyphicon-flag"> EMAIL</p>
        </th>
        <th>
            <p class="glyphicon glyphicon-phone-alt"> PHONE</p>
        </th>
    </tr>
  @foreach (var client in Model)
  {
      <tr>
          <td>@Html.DisplayFor(x => client.Name)</td>
          <td>@Html.DisplayFor(x => client.Email)</td>
          <td>@Html.DisplayFor(x => client.Phone)</td>
          <td>
           @Html.ActionLink("CLIENT PAGE", "Index", "Contacts", new { id = client.ClientId })
          </td>
      </tr>
   }
</table>

<button class="btn btn-warning add-client">Add Client</button>

<div id="clientForm"></div>

<br />

<h4 class="salesPeople">
    @Html.ActionLink("BACK", "Index", "Home")
</h4>

