@{
    ViewData["Title"] = "Sales Assister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model IEnumerable<SalesAssister.Models.Client>

<h3 class="salesPeople">@User.GetUserName()'s Clients </h3>

<br>

<table class="table">
    <tr>
        <th>
            <p>NAME</p>
        </th>
        <th>
            <p>EMAIL</p>
        </th>
        <th>
            <p>PHONE</p>
        </th>
    </tr>
  @*@foreach (var client in Model)
  {
      <tr>
          <td>@Html.DisplayFor(x => client.Name)</td>
          <td>@Html.DisplayFor(x => client.Email)</td>
          <td>@Html.DisplayFor(x => client.Phone)</td>
          <td>
              @Html.ActionLink("EDIT", "Edit", new { id = client.ClientId }) | @Html.ActionLink("DELETE", "Delete", new { id = client.ClientId }) | @Html.ActionLink("CONTACTS", "Index", "Contacts", new { id = client.ClientId })
          </td>
      </tr>
   }*@
</table>




    
