@{
    ViewData["Title"] = "Sales Assister";
}

@model SalesAssister.Models.Contact

<h3 class="salesPeople">EDIT</h3>

@using (Html.BeginForm("Edit", "Contacts"))
{
    <input type="hidden" name="ClientId" value="@Model.ClientId" />

    <input type="hidden" name="ContactId" value="@Model.ContactId" />

    <textarea class="textBox" type="text" name="Notes" value="@Model.Notes" placeholder="@Model.Notes"></textarea>

    <div>Date</div>
    <input type="date" name="Date" value="@Model.Date" />

    <input type="submit" value="Save" class="btn btn-warning" />
}