@{
    ViewData["Title"] = "Sales Assister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SalesAssister.Models.Contact

<h3 class="salesPeople">EDIT</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ContactId)

    @Html.LabelFor(model => model.Notes)
    @Html.TextAreaFor(model => model.Notes)

    @Html.LabelFor(model => model.SalesPersonId, "Sales Person")
    @Html.DropDownList("SalesPersonId")

    @Html.LabelFor(model => model.ClientId, "For Client")
    @Html.DropDownList("ClientId")

    <input type="submit" value="Save" class="btn btn-info" />
}