@{
    ViewData["Title"] = "Sales Assister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model SalesAssister.Models.Client

<p>@Html.ActionLink("BACK TO CLIENT LIST", "Index", "Clients")</p>

<h2 class="salesPeople">@Model.Name</h2>
<button class="btn btn-xs btn-warning edit-client">Edit</button>
<button class="btn btn-xs btn-danger delete-client">Delete</button>

<script type="text/javascript">
    $(document).ready(function () {
        $('.edit-client').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("Edit", "Clients", new { id = Model.ClientId })',
                success: function (result) {
                    $('#editClient').html(result);
                }
            });
        });

        $('.delete-client').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("Delete", "Clients", new { id = Model.ClientId })',
                success: function (result) {
                    $('#deleteClient').html(result);
                }
            });
        });

        $('.add-notes').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("Create", "Contacts", new { id = Model.ClientId })',
                success: function (result) {
                    $('#addNotes').html(result);
                }
            });
        });
    }); 
</script>

<h4>Email: @Model.Email</h4>
<h4>Phone: @Model.Phone</h4>

<div id="editClient"></div>
<div id="deleteClient"></div>

@if (ViewBag.Contacts != null)
{
    @foreach (var x in ViewBag.Contacts)
    {
        <hr />
        <h4>@x.Date.ToString("MM/dd/yyyy")</h4>
        <p>@Html.ActionLink("EDIT", "Edit", new { id = @x.ContactId })</p>
        <ul>
            <li>@Html.Raw(@x.Notes.Replace("\n", "<br />"))</li>
        </ul>
    }
}
else if (ViewBag.Count == 0)
{
    <p>test</p>
}
<br />
<br />
<button class="btn btn-success add-notes">Add Notes</button>
<div id="addNotes"></div>
