@{
    ViewData["Title"] = "Sales Assister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IList<SalesAssister.Models.Contact>

<h3 class="salesPeople">Notes for @Html.DisplayFor(x => x[0].client.Name)</h3>

@foreach(var client in Model)
{
    <p>- @Html.DisplayFor(x => client.Notes) -- @Html.ActionLink("EDIT", "Edit", new { id = client.ContactId }) | @Html.ActionLink("DELETE", "Delete", new { id = client.ContactId })</p>
}

@Html.ActionLink("ADD NOTES", "Create", "Contacts", null, new { @class = "btn btn-info" })