@{
    ViewData["Title"] = "Sales Assister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<SalesAssister.Models.SalesPerson>

<h3 class="salesPeople">SALES PEOPLE</h3>
<p>@Html.ActionLink("ADD", "Create")</p>


@foreach(var salesperson in Model)
{
    <h5>@Html.DisplayFor(x => salesperson.Name) | @Html.ActionLink("EDIT", "Edit", new { id = salesperson.SalesPersonId }) | @Html.ActionLink("DELETE", "Delete", new { id = salesperson.SalesPersonId })</h5>
    <ul>
        <li>@Html.DisplayFor(x => salesperson.Company)</li>
    </ul>
    <p>@Html.ActionLink("DASHBOARD", "Index", "Clients", new { id = salesperson.SalesPersonId })</p>
    <hr />
}

@Html.ActionLink("ADD CLIENT", "Create", "Clients", null, new { @class = "btn btn-info" })